<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ruxt.rs</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <main>
        <h1>Ruxt.rs</h1>
        <p>An Actix-based Rust framework for building HTMX sites.</p>
        <p>Check out the <a href="https://github.com/duncanlutz/ruxt.rs">GitHub repo</a> for a little more info.</p>
    </main>
    <footer>
        <p>created by <a href="https://twitter.com/duncanthedev">duncan lutz</a></p>
    </footer>
</body>

</html>
