<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ruxt.rs</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <main style="text-align: center;">
        <h1>Ruxt.rs</h1>
        <p>An Actix-based Rust framework for building <a href="https://htmx.org/" target="_blank">HTMX</a> sites.</p>
        <p>Check out the <a href="https://github.com/duncanlutz/ruxt.rs" target="_blank">GitHub repo</a> for a little
            more info.</p>
        <p>Or, check out the <a href="https://github.com/duncanlutz/ruxt-website" target="_blank">source code</a> for
            this site. (It's
            built with Ruxt.rs!)</p>
    </main>
    <footer style="text-align: center;">
        <p style="margin-top: 3rem;">Created by <a href="https://twitter.com/duncanthedev">Duncan Lutz</a></p>
    </footer>
</body>

</html>
